{% extends "base.html"%}
{% block content %}
<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load staticfiles %}
<head>
<link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet" />
<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
<script language="javascript">
ScrollRate = 10;

function scrollDiv_init() {
	DivElmnt = document.getElementById('MyDivName');
	ReachedMaxScroll = false;
	
	DivElmnt.scrollTop = 0;
	PreviousScrollTop  = 0;
	
	ScrollInterval = setInterval('scrollDiv()', ScrollRate);
}

function scrollDiv() {
	
	if (!ReachedMaxScroll) {
		DivElmnt.scrollTop = PreviousScrollTop;
		PreviousScrollTop++;
		
		ReachedMaxScroll = DivElmnt.scrollTop >= (DivElmnt.scrollHeight - DivElmnt.offsetHeight);
	}
	else {
		ReachedMaxScroll = (DivElmnt.scrollTop == 0)?false:true;
		
		DivElmnt.scrollTop = PreviousScrollTop;
		PreviousScrollTop--;
	}
}

function pauseDiv() {
	clearInterval(ScrollInterval);
}

function resumeDiv() {
	PreviousScrollTop = DivElmnt.scrollTop;
	ScrollInterval    = setInterval('scrollDiv()', ScrollRate);
}
</script>
</head>
   <body>  
	  
	       
	    
	       <div class="container-fluid" style="color:grey; background-color: 	#E10985; height:20px"><br>
	           <div class="container-fluid">
                  <div class='row'>
		            
                    
                    <div class='col-md-8' style="color:white; height:60px; padding-left:20px">
                      <b><p style="font-size:43px; padding-left:40px">CONNECT</p> </b> 
                    </div>
                    
                    <div class='col-md-3'>
                   
                    </div>
                    
                  </div>
               </div>     
	        </div> 
	 
	        
	                    <!-- List of uploaded documents -->
      <div class="container-fluid" style="width: auto; color:grey; background-color: ghostwhite; margin-top:20px">         
        <div class="container-fluid" >
        </div>
      </div>
        
 <div class="container-fluid">
  <div class='row'>                     
{% for event in event %}
		<div class='col-sm-4'>
			<div class="thumbnail" style="width:98%; height:300px;">
              <a href="/dashboard/event/{{ event.pk }}/" class='btn btn-info btn-block' role="button"><b>{{  event.eventtype|upper|truncatewords:10 }}</b></a>	
              {% if event.snap %}
		   	 <img src="{{ event.snap.url }}" class="img-responsive"   alt="image not found" style="width:100%; height:155px;"></img>
              {% else %}
             <img id="blah" src="{% static 'assets/img/find_user.png' %}"  alt="your selected item" style="width:100%; height:100px;"/>								
                {% endif %}	
			<h4><span class="glyphicon glyphicon-calendar"><a href='{{ product.get_absolute_url }}'style="color:#428BCA"> {{  event.date_event|date:"d M Y" }}</a></span></h4>
           <h4><i class="fa fa-home">
           {{  event.place }}</i></a> </h4>
            {% if event.docfile %}
           <img src="{{ event.docfile.url }}"class="img-circle" id="circle" alt="not" width="150px" height="150px"/>                      {% endif %}
            <a href="/products/enquiry/{{ event.user}}/"  class='btn btn-warning btn-block' role="button">{{  event.user }}</a>
          </div>
      </div>
     {% endfor %}
</div><br>
 </div>
    <div class="row" style="width: auto; color:grey; background-color: Lavender"> 
      <div class="container-fluid"> 
       <div class="col-md-4">
        <p><b><h2>Host Event </h2></b></p>
         <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}                 
           {{ form|crispy }}
                                <br>
            {% if request.user.is_authenticated %}
             <div class="col-md-5">
             </div>
             <div class="col-md-7">
              <p><input type="submit" class="btn btn-info btn-lg"  value="Submit Event" /></p>
              </div>
          </form>
{% else %}
<div class="col-md-5"></div>
   <div class="col-md-7"><p>
	<button type="button"  class="btn btn-info btn-lg" onclick="alert('Login first for Publish Event')">Submit</button>
</p></div>
{% endif %}
</div>
<div class="col-md-4">        </div>
	
<div class="container-fluid">     
    <div class="col-md-4"><br><br><br><br><br><br><br><br></div>
      <div class="col-md-4">
        <body class='container-fluid'   onLoad="scrollDiv_init()">
         <div id="MyDivName" style="overflow:auto;width:70%;height:450px;float:right;" onMouseOver="pauseDiv()" onMouseOut="resumeDiv()" >
             {% for event in event %}
             <a href='/dashboard/event/{{ event.pk }}/'style="color:#428BCA"> 
				 <h3>
                {% if event.snap %}
		   	           <img class="img-circle" src="{{ event.snap.url }}" class="img-responsive"    alt="image not found" style="width:35%; height:80px; margin-left:20px;"></img>
                {% else %}
                       <img class="img-circle" src="{% static 'assets/img/find_user.png' %}"  alt="your selected item" style="width:30%; height:80px;"/>								
                {% endif %}
                {{  event.eventtype|upper|truncatewords:10 }}
                </h3>
              <div class="container-fluid">   
                <div class="row">
					<div class="col-md-6">
                <h5>Place : {{  event.place }}</h5>
                    </div>
                    <div class="col-md-6">
                <h5>On : {{  event.date_event|date:"d M Y" }}</h5>
                    </div>               
                  </div>
                </div>                 
            </a><hr>{% endfor %}
          </div>
       </body>
     </div>
   </div>
</div>

</div>
</div>
</body>

</html>
{% endblock %}
